@charset "utf-8";

/* 用于遍历颜色生成一系列可用的class，
 * 背景色（b-xxx），字的颜色（f-xxx），按钮的颜色（bt-xxx按钮边框加深10%）
 */

@mixin make-color-list($color-list) {
  @each $name, $color in $color-list {
    .b-#{''+$name} {
      background-color: $color;
    }
    .f-#{''+$name} {
      color: $color;
    }
  }
}
