@charset "utf-8";

@import "./mixin/button";

// Buttons
//
// Base styles 初始类，用于button元素
// 规定4个伪类的基本样式 :active, :focus, :hover, disabled
// 4个基本的类对应相应的伪类 .active, .focus, .hover, .disabled
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  border-radius: $btn-border-radius-base;
  @include button-variant($btn-default-bg, $btn-default-border);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
  }
}

a.btn {
  &.disabled {
    pointer-events: none; // 禁掉事件传递
  }
}

// 默认占一排的按钮
.btn-block {
  display: block;
  width: 100%;
}
