@charset "utf-8";

.x-b-c {
  margin: 0 auto;
}

.x-t-r {
  text-align: right;
}

.x-t-c {
  text-align: center;
}

.x-f-l {
  float: left;
}

.x-f-r {
  float: right;
}

.x-p-a {
  position: absolute;
}

.x-p-r {
  position: relative;
}

/* 提供 5 - 50 的 padding/margin 简写 */
@for $i from 1 through 10 {
  .x-p-t-#{$i*5} {
    padding-top: $i * 5px;
  }
  .x-p-b-#{$i*5} {
    padding-bottom: $i * 5px;
  }
  .x-p-r-#{$i*5} {
    padding-right: $i * 5px;
  }
  .x-p-l-#{$i*5} {
    padding-left: $i * 5px;
  }
  .x-m-t-#{$i*5} {
    margin-top: $i * 5px;
  }
  .x-m-b-#{$i*5} {
    margin-bottom: $i * 5px;
  }
  .x-m-r-#{$i*5} {
    margin-right: $i * 5px;
  }
  .x-m-l-#{$i*5} {
    margin-left: $i * 5px;
  }
}

// 提供 12 - 30 双字号的简写
@for $i from 0 through 6 {
  .x-f-s-#{$i * 2 + 18} {
    font-size: $i * 2 + 18px;
  }
}

.x-ellipsis {
  @include ellipsis();
}
