.audio-wrap-all {
  @include size(100%);
  .awa-wrap {
    border-radius: 25px;
    height: 30px;
    padding: 2px;
    box-sizing: content-box;
    background: rgba(200, 200, 200, 0.3);
    transition: 0.4s;
    cursor: pointer;
    audio {
      display: none;
    }
    .awa-icon {
      @include circle(30px);
    }
    &.pause,
    &.play:hover {
      opacity: 1;
      transform: scale(1.2);
    }
    &.play {
      opacity: 0.5;
      transform: none;
    }
  }
  .awa-canvas {
    @include size(100px);
    @include posi(0, 0);
  }
}
