.music-wrap-all {
  @include square(100%);
  .mwa-box {
    flex: auto;
    width: 10px;
    height: 100%;
  }
  .mwa-canvas {
    @include square(100%);
    @include posi(0, 0);
    z-index: -1;
  }
}
