$perspective: 800px;
$radius: 300px;
$box-width: 60px;
$box-height: 40px;
$gridInfo: 12, 17, 21, 24, 27, 29, 30, 29, 27, 24, 21, 17, 12;

.photo-wrap-all {
  @include size(100%);

  .pwa-stage {
    @include size(100%);
    perspective: $perspective;

    .pwa-view {
      @include size(100%);
      transform-style: preserve-3d;
      transform: rotateX(0deg) rotateY(0deg) translateZ(0);
      &.out-rotate {
        animation: outRotate 30s linear infinite;
      }
      &.in-rotate {
        animation: inRotate 60s linear infinite;
      }
      &.stop {
        animation-play-state: paused;
      }
    }

    .circle {
      $sum: 0;
      @for $index from 1 through length($gridInfo) {
        $num: nth($gridInfo, $index);
        $xGutter: 120deg / (length($gridInfo) - 1);

        @for $indexInner from 0 to $num {
          &.cel-#{$sum} {
            transform: rotateY($indexInner * 360deg / $num - 180deg + $index * 10deg)
              rotateX($xGutter * ($index - 1) - 60deg)
              translateZ(-$radius);
          }
          $sum: $sum + 1;
        }
      }
    }

    .pwa-cel {
      position: absolute;
      @include posi(calc(50% - 90px), calc(50% - 135px));
      @include size(270px, 180px);
      background: #ccc;
      user-select: none;
      border-radius: 4px;
      transition: 2s;
      opacity: 1;
      padding: 1px;
      overflow: hidden;
      .image-wrap {
        @include size(100%);
        border-radius: 4px;
        overflow: hidden;
        opacity: 1;
        transition: 1s;
      }
      img {
        border-radius: 4px;
        width: 100%;
      }
      &.init {
        transform: scale(2);
        opacity: 0;
      }
      &.circle {
        @include size($box-width, $box-height);
        @include posi(calc(50% - #{$box-height / 2}), calc(50% - #{$box-width / 2}));
        box-shadow: 0 0 2px rgba(#000000, 0.2);
      }
    }
  }

  .pwa-start {
    z-index: 10;
    @include posi(calc(50% - 44px), calc(50% - 44px));
    background-image: url(http://cdn.acohome.cn/back-pattern.png);
    padding: 20px;
    font-size: 0;
    border-width: 4px;
    border-radius: 50%;
    @include button-variant(#c6cfff, darken(#c6cfff, 10));
    .pwa-icon {
      opacity: 0.8;
    }
  }

  .pwa-icon {
    @include size(40px);
  }

  .pwa-circle-control {
    &.cc-left {
      @include posi(null, 0, 0);
      @include size(200px, 200px);
      transform: translate(-200px);
    }
    &.cc-right {
      @include posi(null, null, 0, 0);
      @include size(300px, 200px);
      transform: translate(300px);
      .x-row {
        height: 200px;
      }
    }
    z-index: 100;
    opacity: 0.3;
    transition: 0.4s;
    &.show {
      transform: none;
    }
    &:hover {
      opacity: 0.8;
    }
    .btn {
      z-index: 2;
      @include size(88px, 88px);
      @include button-variant(#ffcece, darken(#ffcece, 10));
      padding: 20px 0;
      border-radius: 16px;
      border-width: 4px;
    }
  }
}
