$perspective: 800px;
$radius: 300px;
$row-length: 20;
$row-gutter: 360deg / $row-length;
$box-width: 60px;
$box-height: 40px;
$col-length: 12;
$col-gutter: 100deg / $col-length;
$sub: $col-gutter * ($col-length - 1) / 2;

.photo-wrap-all {
  @include size(100%);

  .pwa-stage {
    @include size(100%);
    perspective: $perspective;

    .pwa-view {
      @include size($box-width, $box-height);
      @include posi(
        calc(50% - #{$box-height / 2}),
        calc(50% - #{$box-width / 2})
      );

      transform-style: preserve-3d;
      transform: rotateX(0deg) rotateY(0deg);
      transition: 0.4s;
      &.out-rotate {
        animation: outRotate 30s linear infinite;
      }
      &.in-rotate {
        animation: inRotate 60s linear infinite;
      }
    }

    $gridInfo: 12, 17, 21, 24, 27, 29, 30, 29, 27, 24, 21, 17, 12;

    .pwa-col {
      @include size($box-width, $box-height);
      position: absolute;
      top: 0;
      transform-style: preserve-3d;
      @for $index from 1 through length($gridInfo) {
        $num: nth($gridInfo, $index);
        $xGutter: 120deg / (length($gridInfo) - 1);

        &:nth-child(#{$index}) {
          .pwa-cel {
            &.flat {
              transform: rotateY(0deg);
            }
            &.circle {
              @for $indexInner from 0 to $num {
                &:nth-child(#{$indexInner + 1}) {
                  transform: rotateY(
                      $indexInner * 360deg / $num - 180deg + $index * 10deg
                    )
                    rotateX($xGutter * ($index - 1) - 60deg)
                    translateZ(-$radius);
                }
              }
            }
          }
        }
      }
    }

    .pwa-cel {
      @include size($box-width, $box-height);
      position: absolute;
      top: 0;
      background: #ccc;
      user-select: none;
      box-shadow: 0 0 4px rgba(#000000, 0.5);
      border-radius: 4px;
      transition: 2s;
    }
  }
}

@keyframes outRotate {
  0% {
    transform: rotateX(30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-330deg) rotateY(-360deg);
  }
}

@keyframes inRotate {
  0% {
    transform: translateZ($perspective) rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: translateZ($perspective) rotateX(0deg) rotateY(360deg);
  }
}
