.spring {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFklEQVQIHWNgYGBI+///PwMIgwmsHAC5exhP0nQwxgAAAABJRU5ErkJggg=='),
    url(http://cdn.acohome.cn/color.jpg);
  background-repeat: repeat, repeat;
  background-size: 2px 2px, cover;
}
